| $("#likeForm#{@product&.id}").html(`
= j render "users/shared/like_form" , product: @product
| `);

| $("#rateForm#{@product&.id}").html(`
= j render "users/shared/rate_in_highly_recommend_product" , product: @product
| `);
