| $("#likeForm#{@product&.id}").html(`
= j render "shared/like_form" , product_id: @product&.id
| `);


| $("#rateForm#{@product&.id}").html(`
= j render "shared/rate_in_highly_recommend_product" , product: @product
| `);