body{
  // min-height: 100vh !important;
  // display: flex;
  // flex-direction: column;  
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

}

.header-div {
  position: fixed !important; 
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #4a4e69  !important;
}

.navbar-nav .nav-link {
  color: #111 !important;
  font-size: 1.1em !important;
  font: var(--podium-cds-typography-body1-strong);
  margin: 0px;
  font-weight: 400;
}

.shop-name {
  text-decoration: none;
  color: white !important;
  font-weight: 950;
  font-size: 25px;
  margin-left: 300px
}

.search-button {
  color: #000000 !important;
  background-color: #fe9004 !important;
  border-color: #fe9004 !important;
} 

.logout-button {
    background-color: transparent;
    border: none;
    color: #050505; 
    cursor: pointer;
    margin: 0px 10px 0px 10px;
  }
  
.logout-button:hover {
    color: #a3a5a7; 
}

#error_explanation {
  color: red;
  ul {
  color: red;
  margin: 0 0 30px 0;
  }
}

/* Carousel Multiple Items */

.category_slideshow .img-wrapper{
  max-width: 100%;
  height: 65vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.category_slideshow img{
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width:576px) {
  .category_slideshow .carousel-inner{
    display: flex;
  }
  .category_slideshow .carousel-item{
    display: block !important;
    margin-right: 0 !important;
    flex: 0 0 calc(100%/5);
  }
  .category_slideshow .img-wrapper{
    height: 23vw;
  }
}

.category_slideshow .carousel-inner{
  padding: 1em;
}
.category_slideshow .card{
  margin: 0.5em;
  border-radius: 0 !important;
  box-shadow: 2px 6px 8px 0 rgba(22,22,16,.18);
}

.category_slideshow .carousel-control-prev, .category_slideshow .carousel-control-next{
  width: 6vh !important;
  height: 6vh;
  background-color: #e1e1e1 !important;
  border-radius: 50%;
  top: 50% !important;
  transform: translateY(-50%);
  opacity: .5 !important;
}

.category_slideshow .carousel-control-prev:hover, .category_slideshow .carousel-control-next:hover{
  opacity: .8;
}

/* ************************ */

.black-link {
  color: black;
  text-decoration: none;
}

.category_name_link {
  color: black; 
  text-decoration: none;
}

.remove-button {
  background-color: transparent;
  border: none;
  color: #cf4a29; 
  cursor: pointer;
}

.remove-button:hover {
  color: #b30000; 
}

.garbage-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #dc3545;
}

.garbage-button:hover {
  color: #610707;
}

.edit-link {
  color: #0d6efd;
}

.edit-link:hover {
  color: #021691 !important;
}

.icon-button:hover {
  color: #021691;
}

.checked {
  color: orange;
}

.detail-order-quantity-text {
  color: black;
  font-weight: 850;
}

.detail-order-name-text {
  color: blue;
  font-weight: 550;
}


.detail-order-total-text {
  color: black;
  font-weight: 450;
}

.detail-order-provide-text {
  color: gray;
  font-weight: 450;
}

.productname{
  text-decoration: none;
  color: black
}

.productname:hover {
  color: blue; 
}

.pos-rela{
  position: relative;
}

.circle {
  align-items: center;
  background: red;
  border: 1px solid #fff;
  border-radius: 99em;
  color: #fff;
  display: flex;
  font-size: 0.6em;
  font-weight: 400;
  height: 1.44em;
  justify-content: center;
  line-height: 1;
  min-width: 1.44em;
  position: absolute;
  right: -12px;
  top: -12px;
}

.dau-x{
  font-size: 4em;
  position: absolute;
  top: 94px;
  right: 536px;
}

/* footer */

footer {
  //margin-top: auto;
  margin: 30px 300px 25px 300px;
  padding-top: 5px;
  border-top: 1px solid rgb(201, 197, 197);
  color: rgb(179, 176, 176);

  a {
    color: gray;
    &:hover {
      color: rgb(78, 77, 77);
    }
  }
  small {
    float: left;
    font-size: 16px;
  }

  ul {
    float:right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      font-size: 18px;
    }
  }
}

@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float:  none;
      margin-bottom: 1em;
    }
    ul  {
      float:none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

// ********************

.like-word{
  color: #452c63;
  font-size: 1.1rem;
}

//  ********************
.highly_recommend_product_slide_show{
  //margin-top: 20px; //95px
  background-color: #778da9;
  height: 510px;
  padding: 3px 50px 0px 50px;
}

.categories{
  margin-top: 30px;
  background-color: #415a77;
  padding: 22px 50px 25px 50px;
}

.products{
  margin: 34px 0px 30px 0px;
  background-color: #edede9;
  padding: 22px 50px 0px 50px;
}


//******** most like product slide show
@media screen and (min-width: 568px) {
  .highly_recommend_product_slide_show .cards-wrapper{
    display: flex;
  }
  
  .highly_recommend_product_slide_show .card{
    margin: 1em auto;
    width: calc(100%/2);
  }
  .highly_recommend_product_slide_show .image-wrapper{
    //height: 22vw;
    margin: 0 auto;
    /* display: flex;
    align-items: center;
    justify-content: center; */
  }
  }
  
  @media screen and (max-width: 567px) {
    .highly_recommend_product_slide_show .card:not(:first-child){
      display: none;
    }
  }
  
  .highy_recommend_product_slide_show .image-wrapper img{
    max-width: 100%;
    max-height: 100%;
  }

//***********

.vam {
  vertical-align: middle;
}

.tdn {
  text-decoration: none !important; 
}

.bl-1-ccc{
  border-left: 1px solid #ccc;
}

.br-1-ccc{
  border-right: 1px solid #ccc;
}

.bt-1-ccc{
  border-top: 1px solid #ccc;
}

.b-1-ccc{
  border: 1px solid #ccc;
}

.b-2-ccc{
  border: 2px solid #ccc;
}

.bb-1-ccc{
  border-bottom: 1px solid #ccc;
}

.bb-2-ccc{
  border-bottom: 2px solid #ccc;
}

.b-color-ccc{
  border-color: #ccc !important
}

.bg-color-ccc{
  background-color: #ccc
}

.bg-color-whitesmoke{
  background-color: #F0F0F0
}

.b-color-gray{
  border: 2px solid gray;
}

.bb-2-gray{
  border-bottom: 2px solid gray;
}


.bd-rad-7{
  border-radius: 7px;
}
.bd-rad-5{
  border-radius: 5px;
}

.fw-600{
  font-weight: 600;
}

.fw-550{
  font-weight: 550;
}

.fw-400{
  font-weight: 400;
}

.color-blackblue{
  color: #4a4e69
}

.color-blue{
  color: #4a4e69
}

.color-blue:hover{
  color: black
}

.color-red{
  color: black
}


.jtf-space-even{
  justify-content: space-evenly;
}

.font-s-2em{
  font-size: 2em
}

.font-s-125em{
  font-size: 1.25em
}

.font-s-1em{
  font-size: 1em
}

.font-s-15em{
  font-size: 1.5em
}

.font-s-2em{
  font-size: 2em
}

.font-s-5em{
  font-size: 5em
}

.font-s-10em{
  font-size: 10em
}

.price-color{
  color: rgb(187, 122, 26);
}

.pos-abs{
  position: absolute;
}

.search-icon{
  top: 15px;
  right: 360px
}

.search-below-icon{
  top: 15px;
  right: 360px
}

.custom-class {
  margin-bottom: 8px; 
  width: 230px;
  font-family: 'Arial', sans-serif;
}

.custom-class label {
  margin-left: 10px;
  font-size: 16px; 
}

.custom-class input[type="checkbox"] {
  transform: scale(1.3);
}

//*************

.hei-35{
  height: 35px;
}

.hei-37{
  height: 37px;
}

.hei-40{
  height: 40px;
}

.hei-43{
  height: 43px;
}

.hei-45{
  height: 45px;
}

.hei-47{
  height: 47px;
}

.hei-50{
  height: 50px;
}

.hei-60{
  height: 50px;
}

.hei-80{
  height: 80px;
}

.hei-100{
  height: 100px;
}

.hei-102{
  height: 100px;
}

.hei-120{
  height: 120px;
}

.hei-145{
  height: 145px;
}

.hei-150{
  height: 150px;
}

.hei-170{
  height: 170px;
}

.hei-360{
  height: 360px;
}

.hei-550{
  height: 550px;
}

.hei-650{
  height: 650px;
}

.wid-50{
  width: 50px;
} 

.wid-60{
  width: 60px;
} 

.wid-95{
  width: 95px !important;
} 

.wid-100{
  width: 100px !important;
} 

.wid-110{
  width: 110px !important;
} 

.wid-120{
  width: 120px;
}

.wid-130{
  width: 130px;
}

.wid-140{
  width: 140px;
}

.wid-150{
  width: 150px;
}

.wid-155{
  width: 155px;
}

.wid-170{
  width: 170px;
}

.wid-180{
  width: 180px;
}

.wid-200{
  width: 200px;
}

.wid-220{
  width: 220px;
}

.wid-250{
  width: 250px;
}

.wid-260{
  width: 260px;
}

.wid-270{
  width: 270px;
}

.wid-300{
  width: 300px;
}


.wid-320{
  width: 320px;
}

.wid-350{
  width: 350px;
}

.wid-386{
  width: 386px;
}

.wid-400{
  width: 400px !important;
}

.wid-420{
  width: 420px;
}

.wid-430{
  width: 430px;
}

.wid-440{
  width: 440px;
}


.wid-450{
  width: 450px !important;
}

.wid-490{
  width: 490px !important;
}

.wid-550{
  width: 550px !important;
}

.wid-548{
  width: 548px !important;
}

.wid-580{
  width: 580px !important;
}

.wid-618{
  width: 618px !important ;
}

.wid-800{
  width: 800px !important ;
}

.wid-900{
  width: 900px;
}

.wid-1100{
  width: 1100px;
}

.wid-1300{
  width: 1300px;
}

.maxwid-1420{
  max-width: 1420px !important;
}

.pad-5{
  padding: 5px;
}

.pad-20{
  padding: 20px;
}

.pad-30{
  padding: 30px;
}

.pad-5-10-0-20{
  padding: 20px !important;
}

.mar-all-category-shops{
  margin: 10px 500px 100px 500px;
}

.mar-0-5-0-5{
  margin: 0px 5px 0px 5px;
}

.mar-0-380-0-380{
  margin: 0px 380px 0px 380px;
}

.mar-0-400-0-400{
  margin: 0px 400px 0px 400px;
}

.mar-4-0-0-15{
  margin: 4px 0px 0px 15px;
}

.mar-8-0-0-5{
  margin: 8px 0px 0px 5px;
}

.mar-8-0-0-10{
  margin: 8px 0px 0px 10px;
}

.mar-8-0-0-13{
  margin: 8px 0px 0px 13px;
}

.mar-8-0-0-15{
  margin: 8px 0px 0px 15px;
}

.mar-8-0-0-30{
  margin: 8px 0px 0px 30px;
}

.mar-8-0-0-80{
  margin: 8px 0px 0px 80px;
}

.mar-10-40-100-60{
  margin: 10px 40px 100px 60px;
}

.mar-10-175-20-175{
  margin: 10px 175px 20px 175px;
}

.mar-10-300-100-300{
  margin: 10px 300px 100px 300px;
}

.mar-10-350-100-350{
  margin: 10px 350px 100px 350px;
}

.mar-10-380-100-380{
  margin: 10px 380px 100px 380px;
}

.mar-20-0-20-0{
  margin: 20px 0px 20px 0px;
}

.mar-25-300-100-300{
  margin: 25px 300px 100px 300px !important;
}

.mar-30-330-30-330{
  margin: 30px 330px 30px 330px;
}

.mar-50-0-20-40{
  margin: 50px 0px 20px 40px !important;
}

.mar-70-20-100-40{
  margin: 70px 20px 100px 40px !important;
}

.mar-50-0-30-40{
  margin: 50px 0px 30px 40px !important; 
}

.mar-80-230-0-230{
  margin: 80px 230px 0px 230px;
}

.mar-97-0-0-47{
  margin: 97px 0px 0px 47px;
}

.mar-150-300-100-300{
  margin: 150px 300px 100px 300px !important;
}

.marle-5{
  margin-left: 5px;
}

.marle-10{
  margin-left: 10px;
}

.marle-15{
  margin-left: 15px;
}

.marle-18{
  margin-left: 18px;
}

.marle-20{
  margin-left: 20px;
}

.marle-23{
  margin-left: 23px;
}

.marle-25{
  margin-left: 25px;
}

.marle-28{
  margin-left: 28px;
}

.marle-30{
  margin-left: 30px;
}

.marle-33{
  margin-left: 33px;
}

.marle-50{
  margin-left: 50px;
}

.marle-60{
  margin-left: 60px;
}

.marle-72{
  margin-left: 72px;
}

.marle-80{
  margin-left: 80px;
}

.marle-100{
  margin-left: 100px;
}

.marle-120{
  margin-left: 120px;
}

.marle-310{
  margin-left: 310px;
}

.marle-400{
  margin-left: 400px;
}

.marle-500{
  margin-left: 500px;
}

.marto-5{
  margin-top: 5px;
}

.marto-20{
  margin-top: 20px;
}

.marto-25{
  margin-top: 25px;
}

.marto-30{
  margin-top: 30px;
}

.marto-59{
  margin-top: 59px;
}

.marto-80{
  margin-top: 80px;
}

.marto-100{
  margin-top: 100px;
}

.marto-110{
  margin-top: 110px;
}

.marto-150{
  margin-top: 150px;
}

.marri-10{
  margin-right: 10px;
}

.marri-17{
  margin-right: 17px;
}

.marri-20{
  margin-right: 20px;
}

.marri-50{
  margin-right: 50px;
}

.marri-100{
  margin-right: 100px;
}

.marri-350{
  margin-right: 350px;
}

//********************

.gravatar-header{
  border-radius: 50%; 
  margin-right:5px;
}

.alert{
  border-radius: 2rem !important;
}

.alert-notice{
  background-color: #c7f9cc; 
  color: #003e1f;
  width:20%;
  margin-top :10px;
}

.alert-alert{
  background-color: #ff8fa3; 
  color: #800f2f;
  width:20%;
  margin-top :10px;
}

.alert-danger{
  width:20%;
  margin-top :10px;
}

.carousel-control-next-icon{
  background-color: gray;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  opacity: .5;
}

.carousel-control-prev-icon{
  background-color: gray;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
  opacity: .5;
}

.product-slide-show .carousel-control-next-icon{
  margin-left: 50px;
}

.product-slide-show .carousel-control-prev-icon{
  margin-right: 50px;
}

.product-slide-show .carousel-control-next-icon:hover{
  opacity: .5;
}

.product-slide-show .carousel-control-prev-icon:hover{
  opacity: .5;
}

.highlyrecommend-slideshow .button-next{
  top: 165px;
  right: 0px;
  background-color: transparent;
  border-color: transparent;
}

.highlyrecommend-slideshow .button-next:hover{
  opacity: .5;
}

.highlyrecommend-slideshow .button-prev{
  top: 165px;
  background-color: transparent;
  border-color: transparent;
}

.highlyrecommend-slideshow .button-prev:hover{
  opacity: .5;
}

.white-color{
  color: white !important
}

.link-card:hover{
  opacity: .7;
}

.sold-color{
  color: #4a4e69
}

.error-input{
  border-color: #dc3545 !important;
  padding-right: calc(1.5em + 0.75rem);
  background-image: url(https://static.vecteezy.com/system/resources/previews/023/904/064/original/red-warning-icon-illustration-isolated-on-a-white-background-hazard-warning-circle-sign-with-exclamation-mark-attention-sign-vector.jpg);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.error-text{
  width: 100%;
  margin-top: 0.25rem;
  font-size: .875em;
  color: #dc3545;
}

.correct-input {
  border-color: #198754 !important;
  padding-right: calc(1.5em + 0.75rem) !important;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e5/Green_tick_pointed.svg/1024px-Green_tick_pointed.svg.png);
  background-repeat: no-repeat;
  background-position: right calc(0.375em + 0.1875rem) center;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
