= form_with(url: search_in_product_page_path, local:true, method: :post, class:"d-flex pos-rela") do |f|
  = f.text_field :search_content,value: @search_content ,class: "form-control mt-1 ",style: "margin-right: 350px; width: 400px "
  i class="fa-solid fa-magnifying-glass pos-abs search-below-icon"